build/*
dist/*
sageopt.egg-info/*
.idea/*

ignore_scripts/*
ignore_scripts

sageopt/__pycache__/*
sageopt/relaxations/__pycache__/*
sageopt/symbolic/__pycache__/*
sageopt/coniclifts/__pycache__/*
sageopt/coniclifts/constraints/__pycache__/*
sageopt/coniclifts/constraints/set_membership/__pycache__/*
sageopt/coniclifts/operators/__pycache__/*
sageopt/coniclifts/operators/precompiled/__pycache__/*
sageopt/coniclifts/problems/__pycache__/*
sageopt/tests/__pycache__/*
sageopt/tests/test_coniclifts/test_system/__pycache__/*
sageopt/tests/test_relaxations/__pycache__/*
sageopt/tests/test_symbolic/__pycache__/*

*.pyc
